.app{
  background-color: var(--primary);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator{
  width: 375px;
  height: 100vh;
}
.display{
  height: 30%;
  background-color: var(--display);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 25px;
  user-select: none;
}

.keypad{
  padding: 20px;
  height: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--secondary);
}

button{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 0;
  background-color: var(--white);
  font-size: 20px;
}

.gray{
  background-color: var(--tertiary);
  color: var(--white);
}

.blue{
  background-color: var(--light-blue);
  color: var(--primary);
}

.ac{
  background-color: var(--pale-turquoise);
  color: var(--primary);
  width: 245px;
  border-radius: 50px;
}

@media only screen and (min-width: 600px) {
  .calculator {
    height: 90vh;
    border-radius: 10px;
  }
  .display{
    border-radius: 10px 10px 0 0;
  }
  .keypad{
    border-radius: 0 0 10px 10px;
  }
}