* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-family: "Red Hat Mono", monospace;
}

html,
body,
#root {
  height: 100%;
}

button{
  cursor: pointer;
}

:root {
  --primary: #1c1c1c;
  --secondary: #222;
  --tertiary: #282c34;

  --display: #2e3031;

  --light-blue: #61dafb;
  --white: #fdfdfd;
  --pale-turquoise: #e0ffff;
}
